id,product_name
1,Salmon
2,Campbells
3,1TB Hard Drive
4,256Gb Drive
5,Nvidia 1080
6,OLED TV
7,Rayban Glasses
8,Oakley Glasses
9,Versace Glasses
10,Barbie
11,Intel i7
12,Hamburger
13,Cake
14,Cookies
15,Muffin
16,Ham
17,Cheese
18,Milk
19,Tomato
20,Cucumber
21,Avocado
22,Lettuce
23,Banana
24,Strawberry
25,Sandwich
26,Pasta Salad
27,Shrimps
28,Sushi
29,Cake Mix
30,Raisins
31,Yogurt
32,Lord Of The Rings
33,Harry Potter
34,Tea
35,Coffee
36,Chocolate
37,Bread
38,Steak
39,Chicken
40,Rice
41,Hand Lotion
42,Cough Syrup